*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.tela{
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container{
    background-color: #303030;
    display: flex;
    border: 1px solid white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32vw;
    height: 80vh;
    border-radius: 1rem;
}

h1{
    font-size: 2.1rem;
    margin-bottom: 7%;
    color: white;
}

input{
    width: 70%;
    margin-bottom: 3.5%;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: none;
}

button{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    width: 20%;
    padding: 0.5rem;
    margin-top: 1%;
    margin-bottom: 7%;
    border-radius: 1rem;
    border: none;
}

p{
    font-size: 1rem;
    font-weight: 700;
    color: white;
    margin-bottom: 0.7%;
}

@media screen and (max-width: 599px) {

    .tela{
      overflow-y: hidden;
    }

    .container{
        width: 75vw;
        height: 80vh;
    }

    h1{
        font-size: 1.6rem;
    }

    input{
        width: 72%;
        padding: 0.4rem;
    }

    button{
        font-size: 0.9rem;
        width: 25%;
        text-align: center;
        padding: 0.3rem;
    }

    p{
        font-size: 0.7rem;
        font-weight: 600;
        margin-bottom: 0.6%;
    }
    
}

@media screen and (min-width: 600px) {

    .tela{
        overflow-y: hidden;
      }
  
      .container{
          width: 60vw;
          height: 70vh;
      }
  
      h1{
          font-size: 2.3rem;
      }
  
      input{
          width: 72%;
          padding: 0.6rem;
      }
  
      button{
          font-size: 1rem;
          width: 25%;
          text-align: center;
          padding: 0.5rem;
      }
  
      p{
          font-size: 1.1rem;
          font-weight: 700;
      }

}

@media screen and (min-width: 1024px) {
  
      .container{
          width: 35vw;
          height: 80vh;
      }
  
      button{
          font-size: 1.1rem;
          text-align: center;
          padding: 0.4rem;
      }
  
      p{
          font-size: 1.1rem;
          font-weight: 600;
      }

}